@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  background-color: var(--bodyColor);
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 170px;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  padding-bottom: 1rem;
}

#search {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: 20rem;
}
#search:focus {
  outline: 2px solid var(--primaryColor);
}

.filter-box {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.filter-box a {
  display: block;
  text-decoration: none;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.filter-box a:hover {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}
.active {
  background-color: var(--primaryColor);
  color: var(--secondaryColor) !important;
}
.products {
  padding: 4rem 0;
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  padding-bottom: 1rem;
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  border-radius: 8px 8px 0 0;
}
.product-desc {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.product-title {
  color: var(--mainBlack);
  font-weight: bold;
  font-size: 1.1rem;
}
.product-price {
  color: var(--primaryColor);
}

@media screen and (max-width: 670px) {
  .filter-box {
    width: 95%;
  }
}

@media screen and (max-width: 350px) {
  #search {
    width: 15rem;
  }
  .filter-box a {
    padding: 5px;
  }
}
